{% extends "base.html" %}
{% load static %}
{% block titulo %}
        <script src="{% static 'js/validacoes.js' %}"></script>
        <title>Formulário Categoria</title>
{% endblock %}
{% block conteudo %}
        <a href="{% url "pg_criar_servico" %}">
            <button>Voltar</button>
        </a>
        <h2>Formulário Categoria</h2>

        <form method="post" id="form_categoria">
            {% csrf_token %}
            <p>
            <label for="id_tipo">Tipo:</label>
            <input type="text" name="tipo" maxlength="100"  id="tipo" value="{{ categoria.tipo }}">  
            </p>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url "pg_criar_servico" %}">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        </form>

        <h2>Lista de Categorias</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
              <tr>
                <th scope="row">{{ categoria.id }}</th>
                <td>{{ categoria.tipo }}</td>
                <td>
                <div class="btns_formulario">
                    <a href="{% url "pg_editar_categoria" categoria.id %}"> 
                        <img src="https://img.icons8.com/?size=100&id=21076&format=png&color=000000" 
                        alt="Minha Figura" 
                        height="35" 
                        width="35"
                        data-bs-toggle="tooltip" 
                        title="Editar Categoria">                        
                    </a>
                    <a href="{% url "pg_excluir_categoria" categoria.id %}" onclick="return confirm('Deseja realmente excluir?')">
                        <span>Excluir Categoria</span>
                    </a>
                </div>
            </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock %}
