{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "style-formularios.css" %}">
        <title>Formulário Produto/title</title>
    </head>
    <body>
        <a href="{% url "pg_inicial" %}">
            <button>Voltar</button>
        </a>
        <h2>Formulário Produto/<h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_produto.as_p }}
            <button type="submit">Salvar</button>
            <a href="{% url "pg_inicial" %}">
                <button type="button">Cancelar</button>
            </a>
        </form>

        <h2>Lista de Produtos</h2>

        {% for produto in produtos %}
            <div class="card-formulario">
                <span>{{ produto.nome }}</span>
                <span>{{ produto.valor }}</span>
            </div>
        {% endfor %}

    </body>
</html>